@page "/image"

<h1>Image</h1>

<p>This component demonstrates image rendering.</p>

<h1>
    @surface?.Width
    &nbsp;
    @surface?.Height
</h1>

@if (imageData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <img src="@imageData" />
}

@functions {
    Surface surface;
    string imageData;

    protected override async Task OnInitAsync()
    {
        await Task.Run(() =>
        {
            this.surface = new Surface(400, 300);
            this.imageData = "data:image/png;base64," + Convert.ToBase64String(surface.EncodePng());
        });
    }
}
